In [1]:
# findall() 함수 
# "ai" 를 포함할때마다 리스트에 담고, 리스트를 반환합니다. 

import re 

txt = "The rain in Spain"
x = re.findall("ai", txt)

print(x)

['ai', 'ai']

In [3]:
# findall() 함수 
# 문자열안에 "Portugal" 이라는 문자가 있는지 확인 합니다 

import re 

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

if(x):
    print("매치 되는게 있습니다.")
else:
    print("매치 되는게 없습니다.")
    
x = re.findall("Spain", txt)
print(x)

if(x):
    print("매치 되는게 있습니다.")
else:
    print("매치 되는게 없습니다.")

[]
매치 되는게 없습니다.
['Spain']

In [4]:
# search() 함수 
# \s 를 사용하여, 문자열 안에 공백을 찾습니다. 
# search() 는 match object 를 반환합니다. 

import re 

txt = "The rain in Spain"
x = re.search("\s", txt)

print("첫번째 공백이 자리하고 있는 위치는..", x.start())

첫번째 공백이 자리하고 있는 위치는.. 3

In [5]:
# search() 매칭되는게 없으면, None 을 반환합니다 

import re 

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

In [6]:
# split() 
# 문자열은 각 공백마다 분리되어 리스트에 담아집니다. 

import re 

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [9]:
# split() 파라미터 

import re 

txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

x = re.split("\s", txt, 2)
print(x)

x = re.split("\s", txt, 3)
print(x)

['The', 'rain in Spain']
['The', 'rain', 'in Spain']
['The', 'rain', 'in', 'Spain']
['The', 'rain', 'in', 'Spain']

In [10]:
# sub() 함수 
# 각 빈공간을, 숫자 "9" 로 바꾸어 줍니다 

import re 

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [12]:
import re 

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 1)
print(x)

x = re.sub("\s", "9", txt, 2)
print(x)

x = re.sub("\s", "9", txt, 3)
print(x)

The9rain in Spain
The9rain9in Spain
The9rain9in9Spain